@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    최종윤 집<br />
    Redmond, 여긴 어디인가 반가워요 <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jongyoon.choi@bespinglobal.com">jongyoon.choi@bespinglobal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jongyoon.choi@bespinglobal.com">jongyoon.choi@bespinglobal.com</a>
</address>
